*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
    "h h"
    "n n"
    "e a"
    "f f";
}

header{
    grid-area: h;
    color: rgb(36, 110, 86);
    margin: 10px;
}
nav{
    grid-area: n;
    background-color: rgb(36, 110, 86);
}
#tablazat{
    grid-area: e;
}
aside{
    grid-area: a;
    width: 100%;
    margin: auto;
}
footer{
    grid-area: f;
    color:rgb(36, 110, 86);
    text-align: center;
}

img{
    width: 90%;
    padding: 5px;
    border: 1px solid lightgrey;
    margin: 0;
}

nav>ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto auto 1fr;
    text-align: center;
    margin: 20px;
}

nav>ul>li{
    padding-left: 30px;
}
nav>ul>li>a{
    color: white;
}

table{
    width: 90%;
}

tr>th{
    border-bottom: 2px solid black;
}

th, td{
    padding: 10px;
    text-align: left;
    margin: 0;
}


.elso{
    background-color: rgb(238, 238, 238);
}
.masodik{
    background-color: white;
}

@media screen and (max-width: 800px){
    main{
        display: grid;
        grid-template-columns:1fr;
        grid-template-areas:
        "h"
        "n"
        "e"
        "a"
        "f";
    }
}

@media screen and (max-width: 600px){
    main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "h"
        "n"
        "e"
        "a"
        "f";
    }
    nav>ul{
        display: grid;
        grid-template-columns: auto;
    }
    
    nav>ul>li{
        padding-left: 0;
        padding-bottom: 10px;
    }
}